<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689514731055-khaum3f4gl6lebveec0gbf3otcocc7ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689514731055-khaum3f4gl6lebveec0gbf3otcocc7ph</string>
	<key>API_KEY</key>
	<string>AIzaSyA6JWy9BnHjEduaC8DgNFxNxT5h_VNez-w</string>
	<key>GCM_SENDER_ID</key>
	<string>689514731055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eleatest</string>
	<key>PROJECT_ID</key>
	<string>eleatest-78eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>eleatest-78eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689514731055:ios:a8aaa271d6fbad12d398da</string>
</dict>
</plist>